@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

body {
    background-color: #1f023a; 
}

#mainNavbar {
    background-color: #10002b; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    height: 100px;
}

.logo-img {
    height: 150px; 
}

@media (max-width: 992px) {
    .logo-img {
        height: 50px; 
    }
}
@media (max-width: 992px) {

    .navbar-collapse {
        width: 100%;
        text-align: left;  
        padding-left: 15px; 
        padding-right: 15px;
    }
    
    .navbar-nav .nav-item {
        width: 100%; 
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .navbar-nav .btn-outline-success {
        width: 90%; 
        margin-top: 10px;
        margin-left: 0 !important; 
    }
}

.navbar-nav .nav-link {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #18ff52; 
}

.btn-outline-success {
    border-color: #18ff52;
    color: #18ff52;
}

.btn-outline-success:hover {
    background-color: #18ff52;
    color: #10002b;
}


.section-title {
    color: #18ff52; 
    font-family: "Rajdhani", sans-serif;
    font-weight: 600; 
    font-size: 2.5rem; 
    margin-left: 5%; 
    margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
    .section-title {
        font-size: 2rem;
        margin-left: 0;
        text-align: center !important;
    }
}


.carousel-custom {
    max-width: 80%; 
    margin: 0 auto; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(24, 255, 82, 0.5); 
}

.carousel-item img {
    height: auto; 
    max-height: 500px; 
    object-fit: cover;
}


.card-custom {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-custom:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(24, 255, 82, 0.8);
}

.card-img-top {
    height: 200px; 
    object-fit: cover;
}



footer {
    background-color: #10002b !important;
    border-top: 3px solid #18ff52;
}

.footer-link {
    color: #ffffff; 
    transition: color 0.3s ease; 
}

.footer-link:hover {
    color: #18ff52 !important; 
}

.btn-warning {
    background-color: #ffde59; 
    border-color: #ffde59;
    color: #10002b; 
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn-warning:hover {
    background-color: #e0b400; 
    border-color: #e0b400;
    box-shadow: 0 0 10px rgba(255, 193, 7, 0.8); 
}